<div class="container">
  <div class="card">
    <div class="card-header">
      Copyright © 2024 Nhóm 1
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Học cho rộng, hỏi cho kỹ, nghĩ cho cẩn thận, phân biệt cho rõ, làm cho hết sức..</p>
        <footer class="blockquote-footer">Khổng Tử <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
</div>